# Keep the compiled client, production dependencies, grammar, logo and licenses.
src/**
tests/**
scripts/**
.test-data/**
.vscode-test/**
.npm-cache/**
dist/**
node_modules/.cache/**
**/*.ts
**/*.map
**/*.log
**/*.tsbuildinfo
**/tsconfig.json
**/.github/**
**/.git/**
**/.DS_Store
package-lock.json
eslint.config.mjs
.vscodeignore
.gitignore
